.slider-heading{
    font-size: 40px;
    color: #020303;
}

.category-slides div h4{
    text-align: center;
    margin: 10px 0px 10px;
        color: #020303;
        font-size: 18px;
}

.category-slides div p{
    text-align: center;
    font-size: 14px;
    margin: 0px 0px 0px;
    color: #00000070;
}

.category-slides div{
    border-radius: 7px;
    /* box-shadow: 0px 0px 10px #00000020; */
    border: 1px solid #00000020;
}

.cat-slide.swiper  .swiper-button-prev,
.cat-slide.swiper .swiper-button-next{
    opacity: 1!important;
}

.cat-slide.swiper .swiper-button-next{
    top: 30px;
}
.cat-slide.swiper .swiper-button-prev{
top:30px;
right: 60px;
left: unset;
}
.cat-slide.swiper{
    overflow: hidden;
    padding-top: 60px ;
    margin-top: -70px;
}
.cat-slide.swiper .swiper-wrapper{
    overflow: hidden;
}