*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.category-btn.btn-primary{
  border-radius: 0px !important;
  border-color: #fff !important;
  background-color: #fff !important;
  color: #555555 !important;
  padding-left: 0px;
  /* white-space: nowrap; */
}
.category-btn.btn-primary span{
  width: 120px !important;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}
.search-container svg{
  font-size: 22px;
}
.border-green{
  border: 1px solid #84d2ae !important;
}
.search-container input,
.search-container input:focus{
  border: none;
  outline: none;
  box-shadow: none;
    font-family: "Quicksand", sans-serif;
      font-weight: 400;
}
.search-container input{
  border-left: 1px solid #55555538  !important;
    font-family: "Quicksand", sans-serif;
      font-weight: 400;
}
.dropdowns-list{
  top: 50px;
 width: 250px;
 height: 250px;
 overflow-y: auto;
  left: 0px;
  box-shadow: 0px 0px 10px #00000025;
  background-color: #fff;
  z-index: 5;
}
.dropdowns-list ul{
  list-style-type: none;
  padding-left: 0px;
}
.dropdowns-list  li{
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
      font-weight: 400;
}
.dropdowns-list  li:hover{
  background-color: #84d2ae;
  font-family: "Quicksand", sans-serif;
      font-weight: 600;
}

.dropdowns-list  li.active{
  background-color: #84d2ae;
  font-family: "Quicksand", sans-serif;
      font-weight: 600;
}
@media screen and (min-width: 1600px) {
  .container{
    max-width:  1600px  !important;
  }
}
.location{
  box-shadow: 0px 0px  15px #84d2ae88;;
  padding-left: 10px;
 width: 190px;
 border: 1px solid rgba(173, 173, 173, 0.329);
 border-radius: 5px;
 
}
.location .category-btn.btn-primary span{
  color: #3bb77e ;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}
.location svg{
  fill: rgb(173, 173, 173);
  color: rgb(139, 139, 139);
}
.list.header-tools{
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 0px;
  margin-bottom: 0px;
}
.list-items{
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}
.list-items svg{
  font-size: 24px;
}

.list-items .badge{
  position: absolute;
  background-color: #2aad71;
  border-radius: 100px;
  top: -6px;
  left: 10px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  font-size: 10px;

}
.acc-dropdown{
  padding: 15px;
  margin: 0px 0px;
  position: absolute;
  right: 0px;
  top: 28px;
  border-radius: 10px;
  list-style: none;
  width: 200px;
  background: #ffffff;
  box-shadow: 0px 0px 10px #00000029;

}
.acc-dropdown .items{
padding: 10px 0px;
cursor: pointer;
}
.acc-dropdown .items span{
  font-size: 14px;
  color: #7e7e7e;
  font-family: "Quicksand", sans-serif;
      font-weight: 400;
}
.acc-dropdown .items svg{
  font-size: 22px;
  color: #7e7e7e;
}
.acc-dropdown .items:hover span,
.acc-dropdown .items:hover svg{
  color: #2aad71;
  fill: #2aad71;
}

.nav{
  background-color: #fff;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.btn.btn-primary{
background-color: #2aad71 !;
border: 1px solid #2aad71;
border-radius: 5px;
display: flex;
align-items: center;
gap: 8px;
  font-family: "Quicksand", sans-serif;
    font-weight: 400;
}
.all-cat-btn{
    background-color: #229b64 !important;
      border: 1px solid #229b64 !important;
}
.all-cat-btn:hover,
.all-cat-btn:focus{
  background-color: #229b64 !important;
border: 1px solid #229b64 !important;
font-family: "Quicksand", sans-serif;
    font-weight: 400;
}

.nav-list{
  padding-left: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  position: relative;
}

.nav-list .list-item{
  position: relative;
}
.nav-list .list-item button,
.nav-list .list-item button:hover,
.nav-list .list-item button:focus{
  background: none !important;
  border: none !important;
  outline: none !important;
  padding: 0px;
}

.nav-list .list-item button a{
  text-decoration: none;
  color: #253D4E;
  font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.nav-list .list-item button a:hover{
  font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #229b64;
}


.hot-line svg{
  font-size: 38px;
}

.hot-line .num{
  margin: 0px 0px 0px;
  font-size: 28px;
    color: #229b64;
    line-height: 20px;
}

.hot-line p{
      font-size: 13px;
        color: #7e7e7e;
        margin: 0px 0px 0px;
        padding-left: 4px;
}

.sub-menu{
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #7e7e7e25;
  box-shadow: 0px 0px 10px #229b6521;;
  padding-left: 0px;
  list-style-type:none;
  width: 200px;
 
}
.nav-list li.list-item:hover .slide-animation{
  /* display: block; */
    opacity: 1;
      visibility: visible;
  /* transition: all 0.2s ease-in-out; */
  transform: translateY(0px);
}
.sub-menu li{
  padding: 10px 10px 5px;
}

.sub-menu li  a{
  font-size: 13px !important;
  color: #7e7e7e;
}

.slide-animation{
position: absolute;
  top: 25px;
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 0.2s ease-in-out;
z-index: 5;
}

.mega-menu{
        left: -35vw;
          transform: translateY(23px) !important;
          box-shadow: 0px 0px 10px #00000015 !important;
          background: #fff;
          border-radius: 0px 0px 20px 20px;
          border: 1px solid #dee2e6;
          max-width: 1400px;
          width: 1400px;
          margin: auto;
          z-index: 9;
}

.mega-menu .cat-titles{
  font-size: 22px;
  color: #2aad71;
  margin-bottom: 20px;
}
.mega-menu .cat-titles:hover{
  color: rgb(255, 218, 0);
}
.mega-menu ul{
  padding-left: 0px;
  list-style-type: none;
}

.mega-menu ul li{
  padding: 5px 0px;
}

.mega-menu ul li a{
  color: #7e7e7e;
  font-size: 15px;
  text-decoration: none;
}
.mega-menu ul li a:hover{
    color: #2aad71;
}

.mega-menu .menu-banner-wrap a{
    display: block;
      padding-top: 50.66%;
      width: 100%;
      position: relative;
}
.mega-menu .menu-banner-wrap a img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.menu-content{
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 50px;
}

.menu-content h4{
  font-size: 16px;
  font-weight: 300;
  color: #253D4E;
}
.menu-content h3{
    font-size: 28px;
      font-weight: 600;
      color: #253D4E;
      line-height: 40px;
}

 .off-deal{
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  /* display: block; */
  justify-content: center;
  background-color: #ffd55a;
  position: absolute;
  z-index: 2;
  right: 60px;
  top: 40px;;
  text-align: center;
  border-radius: 100px;
  font-weight: 600;
    color: #253D4E;
    font-size: 20px;
    line-height: 20px;
}

.menu-content span{
  color: #81b13d;
  text-decoration: none;
  font-size: 28px;
  font-weight: 600;
  display: block;
  margin-bottom: 20px ;
}

.menu-content .btn.btn-primary.btn-shop{
  background-color: #2aad71 !important;
  border-radius: 100px;
  color: #fff;
  padding: 8px 25px;

}


.product-cat{
  list-style-type: none;
  margin-bottom:0px;
}

.product-cat li a{
  text-decoration: none;
  color: #253D4E;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
}
.product-cat li a:hover{
  position: relative;
  top: -5px;
  color: #2aad71;
}

.product-card{
  border: 1px solid #00000015;
  width: 19%;
  border-radius: 12px;
  margin-bottom: 20px;
}
.product-card .img-container{
width: 250px;
  padding-top: 100%;
  position: relative;
}
.product-card .img-container img{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.product-card .content .product-category{
  font-size: 14px;
  display: block;
  color: #7e7e7e;
  margin-bottom: 10px;
}


.product-card .content .product-title{
font-size: 18px;
font-weight: 700;
color: #253D4E  ;
}

.product-card .content .rating svg{
fill: rgb(255, 196, 0);
}
.product-card .content .rates{
    color: #7e7e7e; 
}

.price-container .price .bold{
font-weight: 700;
font-size: 18px;
color: #3bb77e;
}
.price-container .price .dis{
  text-decoration: line-through;
  color: #8a8a8a;
}




.badge.Hot{
  background-color: #f74b81;
}

.badge.Sale{
  background-color: #67bcee;
}

.badge.New{
  background-color: #3BB77E
}

.badge.Off{
  background-color: #f59758;
}

.product-card{
  position: relative;
}

.product-card .badge{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 70px;
      border-radius: 10px 0px;
}

.nav-fixed{
  position: fixed;
  width: 100%;
  z-index: 4;
  top: 0;
  background: #ffffffb5 !important;
  backdrop-filter: blur(5px);
}

.nav-fixed .nav{
    background: #ffffffb5 !important;
  backdrop-filter: blur(2px);
}
.deal-banner{
  background-image: url('./assets/images/banner-4.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 40px;
  border-radius: 15px;
  overflow: hidden;
  height: 520px;
}
.deal-banner h3{
  font-size: 50px;
  margin-bottom: 100px;
  color: #253D4E;
}
.deal-banner .btn-deals{
  background: #3bb77e;
font-size: 13px;
transition: all 0.5s ease-in-out;
color: #fff;
font-weight: 600;
}
.deal-banner .btn-deals:hover{
  width: 120px;
  background-color:rgb(255, 196, 0);
  color: #fff;
}

.best-deals .swiper .product-card{
  box-shadow: none;
  width: 100% !important;

}

.best-deals .swiper .product-card div{
  border: none;
}
.progress{
  height: 6px !important;
  margin-top: 15px;
}
.progress-bar{
  background-color: #3bb77e !important;
}
.sold-items{
  font-size: 13px;
  color: #253D4E;
}

.best-deals .cat-slide.swiper .swiper-button-prev{
  top: 50%;
  right: unset;
  left: 10px;
}

.best-deals .cat-slide.swiper .swiper-button-next{
top: 50%;
}

.topSellingBox .topSelling-title{
 position: relative;
  border-bottom: 1px solid #ececec;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px !important;
}
.topSellingBox .topSelling-title::after {
  content: "";
  width: 80px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #BCE3C9;}
.topSellingBox .topSelling-list  .items{
  position: relative;
transition: all 0.3s ease-in-out;
}
.topSellingBox .topSelling-list  .items:hover{
  transform: translateY(-5px);
}
.topSellingBox .topSelling-list  .items .list-item-img-container {
width: 130px;
  position: relative;
  padding-top: 30%;
  cursor:  pointer;
  border-radius: 10px;
}
.topSellingBox .topSelling-list  .items .list-item-img-container img{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 10px;
}
.topSellingBox .topSelling-list  .items  .items-info a{
transition: all 0.2s ease-in-out;
  color: #253D4E;
  text-decoration: none;
}

.topSellingBox .topSelling-list  .items  .items-info a:hover{
  color: #3BB77E;
}
.topSellingBox .topSelling-list  .items  .items-info a h3{
  font-size: 16px;
  font-weight: 700;
}
 .items-info  .rating svg {
  fill: rgb(255, 196, 0);
}

.topSellingBox .topSelling-list  .items  .items-info .rates{
color: #7e7e7e;
}

.position-relative.newsletter-inner{
  background: url('./../public/assets/images/banner-10.png') no-repeat center;
    background-size: auto;
  background-size: cover;
  padding: 84px 78px;
  clear: both;
  display: table;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  min-height: 230px;
  margin:50px 0px 30px;
}

.position-relative.newsletter-inner  .newsletter-content h2{
margin: 0px 0px 20px;
font-size: 40px;
font-weight: 700;
  color: #253D4E;
}



.position-relative.newsletter-inner  .newsletter-content p{
  margin: 0px 0px 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 5px;
  color: #7E7E7E;
margin-bottom: 40px;
}



.position-relative.newsletter-inner  .newsletter-content p span{
  color: #2aad71;
}

.position-relative.newsletter-inner  .newsletter-content .slider-box{
  position: static !important;
  max-width: 450px;
}
 .newsletter-inner img {
  position: absolute;
  right: 50px;
  bottom: 0;
  max-width: 40%;
}

.shipping-post  .items-ship{
  background-color:#F4F6FA;;
  padding: 20px ;
  border-radius: 10px;
  width: 100%;
}

.shipping-post  .items-ship .content h3{
  margin: 0px 0px 8px;
  font-size: 18px;
  color: #253D4E;
  font-weight: 600;
}
.shipping-post  .items-ship .content p{
  margin: 0px 0px 0px 0px;
    color: #7E7E7E;
    font-size: 16px;
    font-weight: 400;
}


.page-found-heading{
font-size: 72px;
  line-height: 1;
  color: #253D4E;
  font-weight: 700;
}

.page-content p{
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 5px;
  color: #7E7E7E;
    font-size: 18px;
    margin: 35px 0px;
}

.page-content p a{
  text-decoration: none;
  color: #2aad71;
  transition: 0.2s all ease-in;

}

.page-content p a:hover{
  color: gold;
  position: relative;
  top: -2px;
}

.page-content .search-form {
  max-width: 400px;
  margin: 0 auto;
}

.search-form form input {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  border: 1px solid #ececec;
  border-radius: 10px;
  height: 64px;
  box-shadow: none;
  padding-left: 20px;
  font-size: 16px;
  width: 100%;
}


.search-form form button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border: none;
  font-size: 20px;
  height: 100%;
  padding: 0 24px;
  background-color: transparent;
  color: #242424;
  border: none !important;
}
.search-form form button:hover{
  background-color: transparent;
    color: #242424;
}
.search-form form button svg{
  width: 30px;

}
.search-form form {
  position: relative;
}

.page-content .btn.primary-btn{
display: inline-flex;
align-items: center;
gap: 10px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 30px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid transparent;
  background-color: #3BB77E;
  cursor: pointer;
  transition: all 300ms linear 0s;
  letter-spacing: 0.5px;
  margin-top: 40px;
}

.page-content .btn.primary-btn svg{
  font-weight: 400;
  font-size: 20px;
  margin-left: 10px;
  transition-duration: 0.2s;
}